{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Dashboard - Attendance System</title>
    <link rel="stylesheet" href="./../static/teacherhomepage.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  {% load static %}
  <body>
    {% csrf_token %}
    <div class="dashboard-container">
      <main class="main-content" style="margin-left: 0px">
        <header class="header">
          <h1>Welcome, {{first_name}} {{last_name}}</h1>
          <p>Select a class below to generate the QR code for attendance.</p>
        </header>
        {% if messages %}
        <div class="alert alert-danger" role="alert">
          {% for message in messages %} {{ message }}<br />
          {% endfor %}
        </div>
        {% endif %}
        <section class="qr-code-section">
          {% csrf_token %}
          <form
            class="qr-form"
            action="../Teacher/attendanceSubject/"
            method="POST"
          >
            {% csrf_token %} {% csrf_token %}
            <label for="class-select">Select Class</label>
            <select id="class-select" name="class">
              <option value="0"><--Select Option--></option>
              {% for sub in subjects %}
              <option value="{{ sub.coursecode }}">
                {{sub.subjectname}} - {{sub.coursecode}}
              </option>
              {% endfor %}
            </select>
            <button type="submit" class="generate-btn">Generate QR Code</button>
          </form>
        </section>
      </main>
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="./../static/js/teacherhomepage.js"></script>
  </body>
</html>
